
<div>
    <img src="{{ file_url(node.field_profile_picture.entity.uri.value) }}" alt="{{ node.field_profile_picture.alt }}" title="{{ node.field_profile_picture.title }}">
</div>
<div>
<p>Email: {{node.field_email.value}}</p>
<p>Phone No: {{node.field_mobile_number.value}}</p>
<p>Address: {{node.field_address.value}}</p>
<p>Short Bio: {{node.field_short_bio.value}}</p>
</div>
<div>
</div>